*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}
.container{
    width: 1050px;
    margin: 0 auto;
}
.container>header{
    background-image: url(img/one-piece-merged-volumes-covers-1024x535.jpg);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 30%;
}
header img{
    padding-left: 30px;
}
nav{
    height: 40px;
    background: red;
    margin-bottom: 5px;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 40px;
    padding: 0 15px;
}
nav .menu ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.menu a:hover{
    background-color: red;
    color: yellow;
    border-radius: 10px;
}
nav .search{
    line-height: 40px;
    float: right;
    margin-right: 25px;
}
article h3{
    text-align: center;
    padding: 15px;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
article .new_list .new_item{
    width: 20%;
    padding: 12px;
    float: left;
    border: 0px solid blue;
    margin-right: 2%;
}
article .new_list .new_itema{
    width: 26%;
    padding: 12px;
    float: left;
    border: 0px solid blue;
    margin-right: 4.5%;
}
article .new_list .new_item h5{
    font-size: 15px;
    color: yellow;
}
article .new_list .new_item img{
    margin: 10px auto;
}
article .new_list .new_item .content{
    font-size: 13px;
}

.container>footer{
    line-height: 80px;
    clear: both;
    border-top: 5px double red;
    background-color: white;
    text-align: center;
    font-variant: small-caps;
}

footer .cuoi{
    line-height: 20px;
    clear: both;
    border-top: 5px double red;
    background-color: rgb(204, 44, 44);
    text-align: center;
    font-variant: small-caps;
}
footer h5{
    text-align: right;
    padding: 10px;
    
    color: rgb(248, 244, 244);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#fix{
    margin-right: 0;
}


nav ul li:first-child {
    border-left: none; /* bỏ đường kè trái của phần tử đầu tiên */
}
nav> ul li:first-child a{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/* Khi hover đến li, tô màu cho thẻ a */
nav ul li:hover>a{
    
    opacity: .7;
    color: yellow;
}
/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
nav li ul{
    display: none;
    min-width: 300px;
    position: absolute;
}
nav li>ul li{
    width: 50%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: red;
    text-align: left;
}

/*khi hover thì hiện menu con*/
nav  li:hover > ul{
    display:  block;
}
/*Hiển thị menu con cấp 2,3,4 bên cạnh phải*/
nav > ul.s{
    margin-left: 300px;
    margin-top: -50px;
}

.new_items{
    text-align: center;
}

/* doi mau chu*/
.ssss{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
    display: block;
}
a.ssss:hover{
    color: rgb(64, 62, 230);
}

/* hieu ung hinh anh khi di chuot vao */
.sss {
    overflow: hidden;
    display: inline-block;
  }
  .sss img {
    
    transition: 0.8s;
  }
  .sss:hover img {
    
    transform: scale(1.2, 1.2);
  }


  *{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}
.container{
    width: 1050px;
    margin: 0 auto;
}
.container>header{
    background-image: url(img/one-piece-merged-volumes-covers-1024x535.jpg);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 30%;
}
header img{
    padding-left: 30px;
}
nav{
    height: 40px;
    background: red;
    margin-bottom: 5px;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 40px;
    padding: 0 15px;
}
nav .menu ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.menu a:hover{
    background-color: red;
    color: yellow;
    border-radius: 10px;
}
nav .search{
    line-height: 40px;
    float: right;
    margin-right: 25px;
}
article h3{
    text-align: center;
    padding: 15px;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
article .new_list .new_item{
    width: 20%;
    padding: 12px;
    float: left;
    border: 0px solid blue;
    margin-right: 2%;
}
article .new_list .new_itema{
    width: 26%;
    padding: 12px;
    float: left;
    border: 0px solid blue;
    margin-right: 4.5%;
}
article .new_list .new_item h5{
    font-size: 15px;
    color: yellow;
}
article .new_list .new_item img{
    margin: 10px auto;
}
article .new_list .new_item .content{
    font-size: 13px;
}

.container>footer{
    line-height: 80px;
    clear: both;
    border-top: 5px double red;
    background-color: white;
    text-align: center;
    font-variant: small-caps;
}

footer .cuoi{
    line-height: 20px;
    clear: both;
    border-top: 5px double red;
    background-color: rgb(204, 44, 44);
    text-align: center;
    font-variant: small-caps;
}
footer h5{
    text-align: right;
    padding: 10px;
    
    color: rgb(248, 244, 244);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#fix{
    margin-right: 0;
}


nav ul li:first-child {
    border-left: none; /* bỏ đường kè trái của phần tử đầu tiên */
}
nav> ul li:first-child a{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/* Khi hover đến li, tô màu cho thẻ a */
nav ul li:hover>a{
    
    opacity: .7;
    color: yellow;
}
/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
nav li ul{
    display: none;
    min-width: 300px;
    position: absolute;
}
nav li>ul li{
    width: 50%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: red;
    text-align: left;
}

/*khi hover thì hiện menu con*/
nav  li:hover > ul{
    display:  block;
}
/*Hiển thị menu con cấp 2,3,4 bên cạnh phải*/
nav > ul.s{
    margin-left: 300px;
    margin-top: -50px;
}

.new_items{
    text-align: center;
}

/* doi mau chu*/
.ssss{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
    display: block;
}
a.ssss:hover{
    color: rgb(64, 62, 230);
}

/* hieu ung hinh anh khi di chuot vao */
.sss {
    overflow: hidden;
    display: inline-block;
  }
  .sss img {
    
    transition: 0.8s;
  }
  .sss:hover img {
    
    transform: scale(1.2, 1.2);
  }


